[submodule "hunter"]
	path = hunter
	url = https://github.com/ruslo/hunter.git
[submodule "libs/jsoncpp"]
	path = libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "libs/Intel_SGX/linux-sgx-driver"]
	path = libs/Intel_SGX/linux-sgx-driver
	url = https://github.com/intel/linux-sgx-driver.git
[submodule "libs/Intel_SGX/linux-sgx"]
	path = libs/Intel_SGX/linux-sgx
	url = https://github.com/intel/linux-sgx.git
[submodule "libs/boost"]
	path = libs/boost
	url = https://github.com/boostorg/boost.git
[submodule "libs/Intel_SGX/intel-sgx-ssl"]
	path = libs/Intel_SGX/intel-sgx-ssl
	url = https://github.com/intel/intel-sgx-ssl.git
[submodule "libs/cppcodec"]
	path = libs/cppcodec
	url = https://github.com/tplgy/cppcodec.git

[submodule "libs/enclaveRapidJson"]
	path = libs/enclaveRapidJson
	url = https://github.com/zhenghaven/enclaveRapidJson.git
