[submodule "hunter"]
	path = hunter
	url = https://github.com/zhenghaven/hunter.git
[submodule "libs/jsoncpp"]
	path = libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "libs/Intel_SGX/linux-sgx-driver"]
	path = libs/Intel_SGX/linux-sgx-driver
	url = https://github.com/intel/linux-sgx-driver.git
[submodule "libs/Intel_SGX/linux-sgx"]
	path = libs/Intel_SGX/linux-sgx
	url = https://github.com/intel/linux-sgx.git
[submodule "libs/cppcodec"]
	path = libs/cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "libs/tclap"]
	path = libs/tclap
	url = https://git.code.sf.net/p/tclap/code
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git
[submodule "libs/mbedtls"]
	path = libs/mbedtls
	url = https://github.com/zhenghaven/mbedtls.git
	branch = master
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/zhenghaven/rapidjson.git
	branch = master
